<iframe src="https://www.youtube.com/embed/L3V7LKYPIUQ?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen="" style="
  position: absolute;
  z-index:  -10;
  width:  100vw;
  height:  100vh;">
</iframe>
<div style="
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:  -5; 
"></div>

<div id="blur-efect">
  
    <h1 id="title-effect">Stopover</h1>
    
</div>



<div class="container-fluid">
  <div class="row">
  
    <div class="col-md-6 contenedor margen">
      <div class="contenido">
        <h3 class="title ">How it work</h3>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="large-text col-xs-12 col-sm-12 col-md-8 col-lg-8 texto ">
          <div class="manita">
            <i class="far fa-hand-point-right fa-3x"></i>
          </div>
          <div class="texto ">
            <h4 id="works-list-1">Access my plan</h4>
            <p id="works-list-sub-1">You make a stop in the city of Madrid?</p>
          </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="large-text col-xs-12 col-sm-12 col-md-8 col-lg-8 texto ">
          <div class="manita">
            <i class="far fa-hand-point-right fa-3x"></i>
          </div>
          <div class="texto">
            <h4 id="works-list-1">lalalala</h4>
            <p id="works-list-sub-1">
              <p> You want to enjoy every minute of your trip? </p>
          </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="large-text col-xs-12 col-sm-12 col-md-8 col-lg-8 texto ">
          <div class="manita">
            <i class="far fa-hand-point-right fa-3x"></i>
          </div>
          <div class="texto">
            <h4 id="works-list-1">papapapap</h4>
            <p> Explore a range of plans to do on your scale</p>
          </div>
        </div>

        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="large-text col-xs-12 col-sm-12 col-md-8 col-lg-8 texto ">
          <div class="manita">
            <i class="far fa-hand-point-right fa-3x"></i>
          </div>
          <div class="texto">
            <h4 id="works-list-1">nananaanan</h4>
            <p> Register now and enjoy the best plans in Madrid</p>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6 myplan">
      <!-- imagen del mundo girando -->
      <img src="http://www.viajesmarfil.com/sites/all/themes/marfil/icons/viajes_a_medida.svg">
    </div>

  </div>
</div>

<div class="container-fluid pie">
  <div class="row ">

    <div class="col-md-6 signup foto">

      <p>
        If you are interested in
        <br> a plan in Madrid, this
        <br> is your site. register
        <br> and start enjoying
        <br> the best plans
      </p>

      <a href="/auth/signup" class="btn btn-primary">Signup</a>

    </div>

    <div class="col-md-6">
      <p>
        The offer of free leisure (or at reasonable prices)<br>
         in Madrid is impressive. However, the information <br>
         is very scattered and not always easy to find.<br>
         Stopover was born at the beginning of 2018 with the <br>
         intention of answering some of the questions we ask<br>
          each other whenever we make travel scales.<br>
      </p>
    </div>



  </div>
</div>