  <div class="col-sm-6 col-md-6">
          <div class="thumbnail index">
            <img src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Spain/Madrid/madrid-overview-sunsetovermadrid-xlarge.jpg">
              <h1>Welcome<br>to<br>Stopover</h1>
               <p>You make a stop in Madrid?<br>
                Do you want to take your time to the fullest?<br>
                You want to enjoy every minute of your trip?<br>
                Stopover gives you a range of possibilities to do on your scale<br>
                Register now and enjoy the best plans in Madrid<br>
               </p>
             <p><a href="/login" class="btn btn-primary" role="button">Login</a> <a href="/signup" class="btn btn-default" role="button">Signup</a></p>
         </div>
      </div>
      
      
      

