<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <ul class="list-group">
            <% users.forEach(user => { %>
                <%
                    let provider = 'fa-envelope';
                    if (user.social && user.social.googleId) {
                         provider = 'fa-google';
                    } else if (user.social && user.social.facebookId) {
                         provider = 'fa-facebook';
                    }
                %>
                <li class="list-group-item justify-content-between">
                    <i class="fa <%= provider %>"></i> <%= user.username %>
                </li>
            <% }) %>
        </ul>
    </div>
</div>