
        <div class="col-sm-6 col-md-4">

            <img src="http://www.imprentadelestadozulia.com.ve/wp-content/uploads/2017/03/schienen-steine-hugel-schwarzweiss-169727.jpg" width="1000px"height="500px"  alt="...">
            
              <h3>Welcome your profile</h3>
              <p>The best aplication in the word
                  Hola <%=session.name%> que tal va todo?</p>
              <p> <a href="/users/<%=session.id%>/update" class="btn btn-default" role="button">Update</a></p>
            </div>
            
        </div>
      
      