<div class="col-sm-6 col-md-4">
        <h3 class="parrafoColor">Welcome your profile</h3>
        <p class="parrafoColor">The best aplication in the word. Hola
                <%=session.name%> seguimos probando ........</p>
        <p>
                <a href="/users/<%=session.id%>/update" class="btn btn-primary" role="button">Update</a>
        </p>



</div>
<section>
        <a href="/users/<%=session._id%>/plans" class="btn btn-danger">All plans</a>
        <a href="/users/<%=session._id%>/plans/search" class="btn btn-success">Search plan</a>
        <!-- <a href="/users/:iduser" class="btn btn-info">My plans</a> -->
</section>