<form class="col-xs-12 col-sm-4 col-sm-offset-4" action="/users/<%=session.id%>/update" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" name= "name"value="<%=session.name%>" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email"name= "email" value="<%=session.email%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" readonly>
            </div>
            
        
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form class="col-xs-12 col-sm-4 col-sm-offset-4" action="/users/<%=session.id%>/delete" method="post">
    <button type="submit" class="btn btn-danger"> Delete </button>
</form>

<script>
    
 

</script>